*{margin: 0; padding: 0;}
p{margin-top: 10px;}
a{
  text-decoration: none;
  background: #3dd8ff;
  padding:1rem 4rem;
  border-radius: 5px; color: white;
  }
a:hover{background: #00c2f3;}
body{
 font-family: Sans-Serif;
 display: flex;
 justify-content: center;
 align-items: center;
  flex-direction: column;
  height: 100vh;
}